<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1" />
    <title>{{parent:name}}, your comment got a new reply!</title>
</head>
<body>
    <p>Hey <b>{{parent:name}}</b>, <b>{{name}}</b> replied your comment on <b>{{title}}</b>.</p>
    <hr>
    <p><b>{{name}}</b> said:</p>
    <p>{{content}}</p>
    <hr>
    <p>You can check out that <a href="{{url}}" target="_blank">here</a>.</p>
    <p>This email is sent automatically. <a href="{{unsubscriber}}" target="_blank">Click here to unsubscribe.</a></p>
</body>
</html>

